[Unit]
# the timer, enabled as restic@your-repo.timer, will trigger
# restic@your-repo.service
Description=Run Restic Backup Every Hour

[Timer]
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target
