[Unit]
# this unit can be activated with a parameter, e.g. in
#   systemctl start restic@your-repo.service
# %i is "your-repo"
Description=Restic backup on %i
After=syslog.target
After=network-online.target

[Service]
Type=oneshot
User=wix
# runs restic backup on the files listed in /etc/restic/your-repo.files
ExecStart=/etc/restic/restic-with-swift.sh backup --files-from /etc/restic/%i.files --exclude-file /etc/restic/%i.exclude --tag auto --tag work
# source repo and password from /etc/restic/your-repo.env
EnvironmentFile=/etc/restic/%i.env
AmbientCapabilities=CAP_DAC_READ_SEARCH

[Install]
WantedBy=multi-user.target
